#outputPalindrome {
  display: block;
}

#outputPalindrome {
  display: none;
}

#factorialOutput {
  display: none;
}

#div-prime {
  display: block;
}

#output-primes {
  display: none;
}



/*.btn {
  margin-bottom: 20px;
}*/
